@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900');

body {
  font-family: "League Spartan", sans-serif;
  color: #512050;
  margin: 0;
  box-sizing: border-box;
}
.shell {
  width: 1000px;
  margin: 110px auto 70px;
}
.top-section {
  display: flex;
  justify-content: space-between;
}
.title-box {
  width: 375px;
}
.title-box h1 {
  margin: 0;
  width: 300px;
  font-size: 40px;
  font-weight: 700;
}
.title-box p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
}
.rating-box {
  
}
.rating-element {
  width: 400px;
  background-color: #f7f3f4;
  margin: 10px 0;
  padding: 18px 0 18px 20px;
  display: flex;
  border-radius: 7px;
}
.rating-element:nth-of-type(2) { 
  margin-left: 50px;
}
.rating-element:nth-of-type(3) { 
  margin-left: 100px;
}
.rating-element h4 {
  margin: 0;
  font-size: 17px;
  margin-left: 30px;
}
.star {
  height: 15px;
  margin-left: 7px;
}
.bottom-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.testimonial {
  height: 130px;
  width: 265px;
  background-color: #512050;
  border-radius: 8px;
  padding: 35px 25px;
}
.personal {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.personal-image {
  height: 35px;
  border-radius: 50%;
}
.personal-name {
  margin-top: 2px;
}
.personal-title {
  margin-top: 4px;
  color: #bd68a1;
}
.testimonial p {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: 400;
  margin: 20px 0;
}
.testimonial:nth-of-type(2) { 
  margin-top: 15px;
}
.testimonial:nth-of-type(3) { 
  margin-top: 30px;
}
.ornament-top {
  position: absolute;
  top: 0;
  left: 0;
}
.ornament-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.ornament-top-sm {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.ornament-bottom-sm {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
}

@media (max-width:600px) {
.shell {
  width: 300px;
  margin: 50px auto;
}
.top-section {
  display: block;
}
.title-box {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.title-box h1 {
  width: 250px;
  font-size: 35px;
  margin: 0 auto;
}
.title-box p {
  font-size: 16px;
}
.rating-element {
  width: 300px;
  padding: 18px 0;
  display: block;
}
.rating-element:nth-of-type(2) { 
  margin-left: 0px;
}
.rating-element:nth-of-type(3) { 
  margin-left: 0px;
}
.rating-element h4 {
  margin: 10px 0 0 0;
  text-align: center;
}
.star-box {
  text-align: center;
}
.star:nth-of-type(1) {
  margin-left: -7px;
 }
.bottom-section {
  display: block;
}
.testimonial {
  width: auto;
}
.testimonial:nth-of-type(2) { 
  margin-top: 10px;
}
.testimonial:nth-of-type(3) { 
  margin-top: 10px;
}
.ornament-top {
  display: none;
}
.ornament-bottom {
  display: none;
  }
.ornament-top-sm {
  display: block;
}
.ornament-bottom-sm {
  display: block;
}
}

